<h2>Set List</h2>
<% list.each do |set| %>
Name: <%= set[1]["name"] %> &nbsp;&nbsp;&nbsp;
Video Tags: <%= set[1]["vidnums"] %> &nbsp;&nbsp;&nbsp;
Description: <%= set[1]["description"] %> &nbsp;&nbsp;&nbsp;

<a href="/sets/<%=set[1]["name"]%>/play"> See this set!!!!  </a>

<a href="/sets/<%=set[1]["name"]%>/edit"> Edit this set!!!!  </a>


</br>
<% end %>







